body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ccc8c8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #464646;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  text-align: center;
}

h1#formTitle {
  margin-bottom: 20px;
  font-size: 2em;
  letter-spacing: 1.5px;
  color: #00e1ff;
  text-shadow: 1px 1px 3px #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 1em;
}

button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #05aaaf;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #3cff00;
  transform: translateY(-2px);
}

.switch-form {
  margin-top: 15px;
  font-size: 0.9em;
  color: #00e1ff;
  cursor: pointer;
  text-decoration: underline;
}

.switch-form:hover {
  color: #3cff00;
}

/*  celular */
@media (max-width: 500px) {
  body {
    height: auto; 
    padding: 20px;
    display: block; 
  }

  .container {
    width: 100%; 
    max-width: 350px; 
    padding: 20px;
  }

  h1#formTitle {
    font-size: 1.5em;
  }

  input {
    font-size: 0.9em;
    padding: 8px;
  }

  button {
    font-size: 0.9em;
    padding: 10px;
  }

  .switch-form {
    font-size: 0.8em;
  }
}
